/* Reset CSS */
*, *:before, *:after{ margin: 0; padding: 0; outline: 0;	line-height: 1.2;	letter-spacing: 0em; vertical-align: middle; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
body							  { background-color: #fbfbfb;}
h1									{ font-size: 2em; font-weight: 300;}
h2									{ font-size: 1.8em; font-weight: 400;}
h3									{ font-size: 1.5em; font-weight: 500;}
p										{ margin-bottom: 15px;}
p:last-child			  { margin-bottom: 0;}
mark							  { padding: 5px 10px; background-color: #eee;}
ul 									{ list-style: none;}
img 								{ border: none; width: 100%; max-width: 100%;}
small								{ font-size: 0.75em; color: #555;}
a 									{ text-decoration: none;}
a img 							{ border: 0;}
/*  ESTRUTURA */
.container 					{ width: 100%;float: left;}
.content 						{ width: 80%; margin: 0 10%; padding: 2% 0;}
.content-page				{ padding: 3% 0;}
/* BORDA */
.radius 						{ border-radius: 3px;}
.out-radius-left-top{	border-top-right-radius: 0px;	border-bottom-right-radius: 5px;	border-bottom-left-radius: 5px; 	border-top-right-radius: 5px; }
.borda-preta 				{ border: 1px solid #000;}
/* CAIXAS */
.caixa 							{ width: 40%;margin: 20px;float: left;}
.caixa p 						{ text-align: justify;	}
.caixa h1					  { text-align: justify;padding-bottom: 15px !important;}
.caixa-pequena 			{ position: relative;width: 33%;float: left;padding: 10px;}
.caixa-pequena p 	  {text-align: left;}
.caixa-pequena h1   {margin-bottom: 10px;text-align: left;color: #004C6C;}
.last {margin-right: 0 !important;}
/* ALINHAMENTO */
.al-center 					{ text-align: center;}
.al-left 						{ text-align: left;}
.al-right  					{ text-align: right;}
/* FLOATS */
.right {position: relative;float: right;}
.left {position: relative;float: left;}
.clear {clear: both;}
/* BOTOES */
.botao {margin-top: 60px;padding: 2px;height: 40px;}
.botao-azul:hover {background-color: transparent;transition: 1s;}
/* MENU */
.menu {width: auto !important;}
.logo {font-size: 1em !important;}
.logo a {color: #000 !important;}
.branco {transition: 4s;color: #fff;}
.azul {transition: 2s;color: #004C6C;}
.menu li {display: inline-block;padding: 16px 10px 16px 10px;}
.fixed-top {position: fixed !important;top: 0;}
.down-big ul {position: absolute;display: none;width: 30%;top: 98px;text-align: left;}
.down-big:hover ul {display: block;}
.down-big ul a li {color: #fff;}
.down-big li {padding: 5px;display: block;}
.down-big li:hover {background-color: rgba(0,0,0,0.8);}
.down ul {position: absolute;display: none;}
.down:hover ul {display: block;}
.down li {width: 100px;padding: 5px;}
.inline-block li {margin-right: 100px;}
/* BACKGROUNDS COLOR */
.bg-preto-claro {background-color: #111;color: #fff;}
.bg-preto {background-color: #000;}
.bg-light{background-color: #E6E4D9; color: #111;}
.bg-azul-claro {background-color: #004C6C;color: #fff;}
.bg-transparent {background-color: rgba(0,0,0,0.8);}
.menu {color: #fff;}
/* CARET */
.caret	   {	display:inline-block; width:0; height:0; margin-left:2px; vertical-align:middle; border-top:4px dashed; border-right:4px solid transparent; border-left:4px solid transparent }
/* MENU com lista apresentada */
.caret-menu{ display: none;	width: 0;	height: 0;	border-left: 10px solid transparent; border-right: 15px solid transparent; border-bottom: 10px solid #000; }

.down-big:hover .caret-menu{ 	position: absolute;	display: block;	width: 0; 	height: 0; 	border-left: 10px solid transparent;	border-right: 15px solid transparent;	border-bottom: 10px solid #000; }

/* LINKS */

.link {color: #000;}
.link-under {text-decoration: underline;}

/* ICONES */

.whatsapp {background-image: url('../_ICONES/32/whatsapp.png');}
.facebook {background-image: url('../_ICONES/32/facebook.png');}
.email {background-image: url('../_ICONES/32/email.png');}
.twitter {background-image: url('../_ICONES/32/twitter.png');}
.instagram {background-image: url('../_ICONES/32/instagram.png');}
.shoticon{padding-left: 8%; background-position: center left; background-repeat: no-repeat; background-size: auto 96%;}

/* FONTS */

@font-face {font-family: "quicksand"; src: url('../_FONTS/quicksand.otf') format("truetype");}
.quicksand {font-family: "quicksand"; font-size: 1em;}
@font-face {font-family: "alura";src: url('../_FONTS/alura.otf') format("truetype");}
.alura {font-family: "alura" !important;font-size: 6em !important;}
.fontzero {font-size: 0em;}
.font30px {font-size: 30px;}

/* DISPLAY */

.ds-inblock {display: inline-block;}
.ds-block {display: block;}
.ds-none {display: none;}

/*BOX*/
.box{width: auto; float: left;}
.box-line{float: left; width: 100%;}

.box-small{width: 22.75%; margin-right: 3%;}
.box-medium{width: 30%; margin-right: 5%;}
.box-large{width: 46.5%; margin-right: 7%;}
.box-full{width: 100%; margin: 0;}

/*float*/
.fl-left{float: left;}
.fl-right{float: right;}
.fl-none{float: none;}

/*HELPERS*/
.textshadow{text-shadow: 1px 1px 0 #ccc;}
.boxshadow{-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3); -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3); box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);}
.radius{-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.last{margin-right: 0 !important;}
.clear{clear: both;}
